data/taxonID.list.fullRankID
data/taxonNamesReduced.txt
data/demo/test.main
data/demo/geneList.txt
data/demo/test.architecture
data/demo/test.traceability
data/newTaxa.txt

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
#.httr-oauth

# DS_Store
**/.DS_Store
data/.DS_Store
data/demo/.DS_Store
