# Importés directement dans le code des fonctions (évite de charger tous
# les packages au chargement de RVAideMemoire) :
#   - ade4 : as.dudi, dist.quant, discrimin.coa, dudi.coa
#   - boot : boot
#   - cramer : cramer.test
#   - dunn.test : dunn.test
#   - FactoMineR : GPA
#   - lme4 : fixef, getME, glmer, isLMM, VarCorr
#   - MASS : lda, qda
#   - mixOmics : vip, perf
#   - multcompView : multcompLetters
#   - nnet : multinom
#   - pls : cppls, plsr, R2
#   - pspearman : pspearman
#   - vegan : adonis, envfit

importFrom(ade4,dudi.coa,randtest)
importFrom(car,Anova,qqPlot)
importFrom(graphics,abline,arrows,axis,barplot,box,hist,dotchart,legend,lines,locator,mosaicplot,mtext,panel.smooth,par,
  plot,points,polygon,rect,rug,segments,strheight,strwidth,symbols,text,title)
importFrom(grDevices,chull,col2rgb,n2mfrow,palette,rgb)
importFrom(stats,aggregate,anova,approxfun,as.dist,as.formula,bartlett.test,binom.test,chisq.test,complete.cases,confint,
  cor,cor.test,cov,delete.response,density,dist,dmultinom,family,fisher.test,fitted,formula,glm,kruskal.test,lm,lm.influence,
  logLik,mahalanobis,manova,median,model.frame,model.matrix,model.response,na.omit,p.adjust,pairwise.prop.test,pairwise.table,pbeta,
  pbinom,pchisq,pgeom,phyper,pnbinom,pnorm,ppois,predict,printCoefmat,prop.test,pt,qnorm,qt,rect.hclust,relevel,resid,
  residuals,rnorm,rstudent,runif,sd,setNames,shapiro.test,summary.manova,t.test,terms,update,update.formula,var,var.test,wilcox.test)
importFrom(utils,capture.output,combn,packageVersion,setTxtProgressBar,txtProgressBar)
importFrom(vegan,ordiYbar)

export(
  back.lsmeans,byf.normhist,cor.sparse,DA.confusion,DA.valid,DA.var,fc.multcomp,friedman.rating.test,kruskal.rating.test,
    pairwise.wilcox.rating.test,plot1comp.ind,plot1comp.var,PLSDA.ncomp,PLSDA.test,rating.lsmeans,s.corcircle2,scat.mix.categorical,
    scat.mix.numeric,scatter.coa2,wilcox.rating.signtest,wilcox.rating.test,
  adonis.II,
  Anova.clm,Anova.clmm,
  back.emmeans,
  bootstrap,
  byf.hist,byf.mqqnorm,byf.mshapiro,byf.qqnorm,byf.shapiro,
  CDA.cv,CDA.test,
  cdf.discrete,
  chisq.bintest,chisq.bin.exp,chisq.exp,chisq.multcomp,chisq.theo.bintest,chisq.theo.multcomp,
  cochran.qtest,
  cond.multinom,
  coord.proj,
  cor.2comp,cor.conf,cor.multcomp,
  cov.test,
  cox.resid,
  cramer,cramer.test,
  cv,
  CvM.test,
  dendro.gp,
  DIABLO.cv,DIABLO.test,
  dummy,
  dunn.test,
  fisher.bintest,fisher.multcomp,
  fp.test,
  G.bintest,G.multcomp,G.test,G.theo.multcomp,
  GPA.test,
  ind.contrib,
  least.rect,
  loc.slp,
  logis.fit,logis.noise,
  mod,
  mood.medtest,
  mqqnorm,
  mshapiro.test,
  multinomial.multcomp,multinomial.test,multinomial.theo.multcomp,
  multtest.gp,multtest.cor,
  MVA.anova,
  MVA.cmv,MVA.cv,MVA.test,
  MVA.cor,MVA.load,MVA.scores,
  MVA.plot,MVA.scoreplot,MVA.loadplot,MVA.corplot,MVA.biplot,MVA.pairplot,MVA.trajplot,
  MVA.synt,
  OR.multinom,
  ord.rw,
  overdisp.glmer,
  pairwise.CDA.test,pairwise.factorfit,pairwise.G.test,pairwise.perm.manova,pairwise.mood.medtest,pairwise.MVA.test,pairwise.perm.t.test,pairwise.var.test,pairwise.perm.var.test,
  pairwise.to.groups,
  pcor, pcor.test,
  perm.anova,perm.bartlett.test,perm.cor.test,perm.t.test,perm.var.test,
  plotresid,
  plotsurvivors,
  PLSDA.VIP,
  prop.bin.multcomp,prop.multcomp,
  prop.multinom,prop.multinom.test,
  rating.emmeans,rating.prob,
  reg.ci,
  scat.cr,
  se,
  seq2,
  spearman.ci,spearman.cor.multcomp,
  splitf,
  stand,
  test.multinom,
  to.dudi,
  user.cont,
  wald.ptheo.test,wald.ptheo.multinom.test,
  wilcox.paired.multcomp,
  wilcox.paired.rating.multcomp,
  wilcox.signtest,
  wmean)

S3method(fp.test,default)
S3method(fp.test,formula)
S3method(median,factor)
S3method(mood.medtest,default)
S3method(mood.medtest,formula)
S3method(perm.t.test,default)
S3method(perm.t.test,formula)
S3method(perm.var.test,default)
S3method(perm.var.test,formula)
S3method(plot,multtest.gp)
S3method(plot,multtest.cor)
S3method(predict,coadisc)
S3method(predict,CDA.cv)
S3method(predict,least.rect)
S3method(predict,MVA.cv)
S3method(predict,MVA.cmv)
S3method(print,byf.test)
S3method(print,CDA.cv)
S3method(print,chisq.exp)
S3method(print,DIABLO.cv)
S3method(print,least.rect)
S3method(print,multtest)
S3method(print,MVA.cmv)
S3method(print,MVA.cv)
S3method(print,MVA.synt)
S3method(print,MVA.test.mult)
S3method(print,PLSDA.VIP)
S3method(print,RV.multcomp)
S3method(print,RVtest)
S3method(print,spearman.cor.multcomp)
S3method(summary,least.rect)
S3method(wilcox.signtest,default)
S3method(wilcox.signtest,formula)
