export(
"cor.shrink",
"cor2pcor",
"cov.shrink",
"crossprod.powcor.shrink",
"decompose.cov",
"decompose.invcov",
"estimate.lambda",
"estimate.lambda.var",
"fast.svd",
"invcor.shrink",
"invcov.shrink",
"is.positive.definite",
"make.positive.definite",
"mpower",
"pcor.shrink",
"pcor2cor",
"powcor.shrink",
"pseudoinverse",
"pvar.shrink",
"rank.condition",
"rebuild.cov",
"rebuild.invcov",
"sm.index",
"sm2vec",
"var.shrink",
"vec2sm",
"wt.moments",
"wt.scale",
"wt.var"
)

import("stats")

